body {
    font-family: 'Times New Roman', serif;
    background-color: rgba(118, 133, 117, 0.6);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    
}
.section {
    width: 70%;
}

#letter{
    background-color: rgba(255, 255, 241, 0.8);
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    line-height: 1.8; 
}
   


#to{
    color: blue;
}
#smit {
    text-indent: 35px;
    color: hsla(246, 77%, 52%, 0.5);
    margin: 0;
    line-height: 1.2;
}

#para1{
    text-indent: 35px;

}

#para2{
    text-indent: 35px;

}

#name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 80px;
}
#sir{
    font-size: large;
    color: hsla(246, 77%, 52%, 0.5);
}
#my_name{
    
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: large;
}