body {
    font-family: 'Times New Roman', serif;
    background-color: rgba(118, 133, 117, 0.6);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    
}
.section {
    width: 70%;
    margin-top:30px;
}

#letter{
    background-color: rgba(255, 255, 241, 0.8);
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    line-height: 1.8; 
}

#leave{
    text-align: center;
}
#leave:hover{
    background-color: blue;
}
   


#to{
    color: blue;
}
#to:hover{
    background-color: blue;
    color:white;
}

.smit {
    text-indent: 35px;
    color: hsla(246, 77%, 52%, 0.5);
    margin: 0;
    line-height: 1.2;
}
.smit:hover{
    background-color: blue;
    color: white;
}
#sir{
    font-size: large;
    color: hsla(246, 77%, 52%, 0.5);
}

#para1{
    text-indent: 35px;

}
#para1:hover{
    background-color: blue;
    color: white;
}
#para2:hover{
    background-color: blue;
    color: white;
}

#para2{
    text-indent: 35px;

}

.name{
   
    text-align: right;
    padding-right: 80px;
}

